In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('performance_summary_fh60.csv', index_col='Model')

In [5]:
df

                  MAE    MAPE    RMSE
Model
ProphetModel   22.817  11.827  31.406
SARIMA         23.040  11.669  31.130
HoltWinters    21.833  11.269  29.178
ElasticNet     24.855  14.292  34.410
NeuralProphet  26.848  13.848  34.681

In [6]:
df2 = pd.read_csv('performance_summary_fh1.csv', index_col='Model')
df2

                 MAE    MAPE    RMSE
Model
ProphetModel  19.699  10.621  29.962
SARIMA        17.547   9.673  25.091
HoltWinters   19.201  10.512  25.775
ElasticNet    25.365  14.145  33.596